.meal-title {
  font-size: 2.25rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--color-grey-dark-3);
}

.meal-price {
  color: var(--color-highlight);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.meal-description {
  font-size: 1.8rem;
  margin-right: 2.5rem;
}

/* Tab-land 1200px*/
@media only screen and (max-width: 75em) {
  .menu-info {
    margin-right: 3rem;
  }
}
