.meal-title {
  font-size: 2.5rem;
  /* font-family: 'Poppins', sans-serif;
  font-weight: 500; */
  letter-spacing: 0.08rem;
}
.meal-price {
  color: var(--color-green-dark-2);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
}

.meal-description {
  font-size: 1.8rem;
}

/* Tab-land 1200px*/
@media only screen and (max-width: 75em) {
  .menu-info {
    margin-right: 3rem;
  }
}
