.banner-img {
  grid-column: 1 / span 11;
  grid-row: 1 / span 2;

  background: linear-gradient(
      to right bottom,
      rgba(70, 69, 69, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url('../../images/green-field.jpg') no-repeat center center/cover;
  height: 30vh;
  position: relative;
}

/* Tab-land 1200px*/
@media only screen and (max-width: 75em) {
  .banner-img {
    height: 40vh;
    position: relative;
  }
}
