.banner-section {
  height: 100vh;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(240, 253, 242) 100%
  );
}

.banner-home {
  background: url('../../images/banner-home.png');
  background-position: 75%;
  background-size: 115rem;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
}

.banner-home-text {
  position: absolute;
  top: 50%;
  left: 33%;
  width: 40%;
  transform: translate(-50%, -50%);
}

.banner-home-text h2 {
  font-size: 5.5rem;
  line-height: normal;
  margin-bottom: 2rem;
}

.banner-home-text p {
  font-size: 2.25rem;
  margin-bottom: 2.75rem;
  /* text-align: justify; */
}
