.footer {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-gap: 3rem;
  width: 90%;
  margin: 0 auto;
  background-color: var(--color-green-light-1);
  padding: 7rem 22rem 7rem 33rem;
}

.footer-other {
  display: flex;
  justify-content: space-around;
  justify-self: center;
  width: 50rem;
}

.footer-other li {
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.footer-other li,
.footer-info p {
  font-size: 1.25rem;
}

.footer-info p {
  padding: 0.25rem;
}

.footer-logo {
  margin-bottom: 0.6rem;
}

.footer-social {
  padding: 0.5rem 0;
  margin-top: 0.6rem;
}

.fab {
  margin-right: 0.75rem;
  background-color: var(--color-white);
  border-radius: 50%;
  height: 2.75rem;
  width: 2.75rem;
  text-align: center;
  padding: 0.75rem 0.5rem;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.1);
}

/* Tab-land 1200px*/
@media only screen and (max-width: 75em) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    padding: 7rem 10rem 7rem 17rem;
  }

  .footer-other {
    width: 40rem;
  }

  .footer-other li {
    width: 15rem;
  }
}

/* Tab-port  900px*/
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 7rem 10rem 7rem 12rem;
  }
}

/* Landscape 500px*/
@media (max-height: 31.25em) {
  .footer {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    padding: 6rem 2rem 6rem 6rem;
  }

  .footer-other {
    width: 40rem;
  }
}

/* Phone  600px*/
@media only screen and (max-width: 37.5em) {
  .footer {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    padding: 7rem 5rem 7rem 7rem;
  }

  .footer-other {
    width: 35rem;
    justify-content: space-between;
  }

  .footer-other li {
    width: 8rem;
  }
}
