.newsletter-section {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-container {
  background: linear-gradient(
      to right bottom,
      rgba(49, 49, 49, 0.75),
      rgba(0, 0, 0, 0.65)
    ),
    url('../../images/newsletter.jpg') no-repeat center center/cover;
  width: 50%;
  height: 30rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem;
}

.newsletter-container h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2.5rem;
  line-height: 1.4;
  color: var(--color-grey-light-1);
}
.newsletter-control {
  position: relative;
}
.newsletter-control input {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin: 0 0.3rem;
  padding: 1rem 2.25rem;
  color: var(--color-grey-dark-3);
  background-color: var(--color-grey-light-1);
  border-radius: 5rem;
  font-size: 1.45rem;
  border: none;
  width: 30rem;
  height: 3.8rem;
}

.newsletter-control input:focus {
  outline: none;
  border: none;
}

.newsletter-control input::placeholder {
  color: var(--color-grey-light-3);
  font-family: 'Poppins', sans-serif;
}

.newsletter-control button {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  z-index: 3;
  font-size: 1.25rem;
  padding: 0.4rem 1.65rem;
}

.newsletter-control button:hover {
  transform: translate(0);
}

/* Big desktop  1800px*/
@media only screen and (min-width: 112.5em) {
  .newsletter-container {
    width: 35%;
  }
}
/* Tab-land  1200px*/
@media only screen and (max-width: 75em) {
  .newsletter-container {
    width: 70%;
  }

  .newsletter-section {
    height: 50vh;
  }
}

/* Tab-port  900px*/
@media only screen and (max-width: 56.25em) {
  .newsletter-container {
    width: 80%;
  }
}

/* Landscape 500px*/
@media (max-height: 31.25em) {
  .newsletter-section {
    height: 100vh;
  }
}

/* Phone  600px*/
@media only screen and (max-width: 37.5em) {
  .newsletter-section {
    height: 45vh;
  }

  .newsletter-container {
    width: 90%;
  }
}
