.completed-section {
  height: 100vh;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 247, 247, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed-container {
  height: 50rem;
  width: 60%;
  margin: 0 auto;
  background-color: var(--color-green-light-1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  animation: slide-down 0.8s ease-out forwards;
}

.completed-img {
  background: url('../../images/order-completed.jpg') no-repeat center
    center/cover;
  width: 100%;
  height: 100%;
  border-radius: 3rem 0 0 3rem;
}

.completed-text {
  border-radius: 0 0 3rem 3rem;
  padding: 5rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.completed-text h3 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.completed-text p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.completed-text hr {
  width: 8rem;
  margin: 1.5rem 0;
  background-color: var(--color-grey-dark-1);
  height: 3px;
  border: none;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tab-land 1200px*/
@media only screen and (max-width: 75em) {
  .completed-container {
    width: 85%;
  }
}

/* Tab-port  900px*/
@media only screen and (max-width: 56.25em) {
  .completed-container {
    height: 70rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .completed-img {
    height: 45%;
    border-radius: 3rem 3rem 0 0;
  }

  .completed-text {
    padding: 2rem 6rem;
    height: 55%;
  }

  .completed-text p {
    margin-bottom: 2.25rem;
  }

  .completed-text hr {
    margin: 2rem 0;
  }
}

/* Landscape 500px*/
@media (max-height: 31.25em) {
  .completed-section {
    height: 90rem;
  }
}

/* Phone  600px*/
@media only screen and (max-width: 37.5em) {
  .completed-section {
    height: 75vh;
  }
}
