.completed-section {
  height: 100vh;
  background-color: var(--color-grey-light-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed-container {
  height: 50rem;
  width: 60%;
  margin: 0 auto;
  background-color: var(--color-green-light-1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  animation: slide-down 1.25s ease-out forwards;
}

.completed-img {
  background: url('../../images/order-completed.jpg') no-repeat center
    center/cover;
  width: 100%;
  height: 100%;
  border-radius: 3rem 0 0 3rem;
}

.completed-text {
  border-radius: 0 0 3rem 3rem;
  padding: 5rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.completed-text h3 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.completed-text p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.completed-text hr {
  width: 8rem;
  margin: 1.5rem 0;
  background-color: var(--color-grey-dark-1);
  height: 3px;
  border: none;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
