.form-section {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 247, 247, 1) 100%
  );
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  overflow-x: hidden;
  background-color: var(--color-white);
}

.form-container {
  /* border: var(--color-grey-light-3) 1px solid; */
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
  padding: 6rem 8rem;
  width: 70rem;
  background-color: var(--color-white);
}

.form-control {
  padding: 1.25rem 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-control label {
  padding: 0 0 0.5rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--color-grey-light-3);
}

.form-control input {
  padding: 0.85rem 1rem;
  border-radius: 0.5rem;
  border: 0.75px solid var(--color-grey-dark-3);
  font-size: 1.5rem;
  /* add to globals */
  font-family: 'Poppins', sans-serif;
  transition: border 0.1s ease-in;
}

.form input:focus {
  border: 2px solid var(--color-highlight);
  outline: none;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  padding: 3rem 0 0;
}

.form-actions button {
  margin-left: 1.5rem;
}

/* Errors */
.err {
  padding: 1rem 0.5rem;
  color: #962020;
}
