.navigation {
  background-color: var(--color-white);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.navigation .logo {
  padding: 0 4rem;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30.5rem;
  padding: 0 4rem;
}

.badge {
  top: 0;
  left: 0;
  min-height: 1rem;
  min-width: 1rem;
  padding: 0.4rem 0.85rem;
  border-radius: 20rem;
  background-color: var(--color-grey-dark-1);
  color: var(--color-white);
  position: relative;
  top: 0;
  left: -1.25rem;
}

/* Phone  600px*/
@media only screen and (max-width: 37.5em) {
  .navigation {
    height: 9rem;
  }

  .navigation ul {
    width: 34rem;
  }

  .badge {
    padding: 0.7rem 1.2rem;
  }
}
