.navigation {
  background-color: var(--color-white);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.navigation .logo {
  padding: 0 4rem;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  padding: 0 4rem;
}

/* Phone  600px*/
@media only screen and (max-width: 37.5em) {
  .navigation {
    height: 9rem;
  }

  .navigation ul {
    width: 34rem;
  }
}
