.banner-section {
  height: 100vh;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(240, 253, 242) 100%
  );
}

.banner-home {
  background: url('../../../images/banner-home.png');
  background-position: 75%;
  background-size: 125rem;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
}

.banner-home-text {
  position: absolute;
  top: 50%;
  left: 33%;
  width: 35%;
  transform: translate(-50%, -50%);
}

.banner-home-text h2 {
  font-size: 5.5rem;
  line-height: normal;
  margin-bottom: 2rem;
}

.banner-home-text p {
  font-size: 2.25rem;
  margin-bottom: 2.75rem;
}

/* Big desktop 1800px */
@media only screen and (min-width: 112.5em) {
  .banner-home {
    background-position: 56%;
    background-size: 130rem;
  }

  .banner-home-text {
    left: 36%;
    width: 60rem;
  }

  .banner-home-text h2 {
    font-size: 4.75rem;
  }
}

@media only screen and (max-width: 90em) {
  .banner-section {
    height: 80vh;
  }

  .banner-home {
    background-position: 79%;
    background-size: 85rem;
  }

  .banner-home-text {
    left: 30%;
  }

  .banner-home-text p {
    font-size: 2.1rem;
  }
}

/* Tab-port  900px*/
@media only screen and (max-width: 56.25em) {
  .banner-home {
    background-position: 79%;
    background-size: 70rem;
  }

  .banner-home-text {
    left: 30%;
  }

  .banner-home-text h2 {
    font-size: 4.75rem;
  }
}

/* Landscape 500px*/
@media (max-height: 31.25em) {
  .banner-section {
    height: 100vh;
  }
}

/* Phone  600px*/
@media only screen and (max-width: 37.5em) {
  .banner-section {
    height: 60vh;
    background: linear-gradient(
      360deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(240, 253, 242) 100%
    );
    overflow: hidden;
  }
  .banner-home {
    background: url('../../../images/banner-home-xs.png');
    background-position: 75%;
    background-size: 100rem;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .banner-home-text {
    position: absolute;
    top: 50%;
    left: 33%;
    width: 45%;
    transform: translate(-50%, -50%);
  }

  .banner-home-text h2 {
    font-size: 4rem;
  }

  .banner-home-text p {
    font-size: 2rem;
    margin-bottom: 2.75rem;
    text-align: justify;
    hyphens: auto;
  }
}
