@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:wght@200;300;400;600&display=swap');

:root {
  --color-highlight: #69bc47;

  --color-green-dark-1: #2e3832;
  --color-green-dark-2: #32601c;
  --color-green-light-1: #f6fbf7;

  --color-grey-dark-1: #222925;
  --color-grey-dark-2: #4b4d4b;
  --color-grey-dark-3: #777777;

  --color-grey-light-1: #f4f4f4;
  --color-grey-light-2: #d8d8d8;

  --color-white: #fff;
  --color-black: #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

/* Tab-land 1200px*/
@media only screen and (max-width: 75em) {
  html {
    font-size: 58%;
  }
}

/* Tab-port  900px*/
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}

/* Phone  600px*/
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 32%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-color: #f4f4f4;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-grey-dark-2);
}

ul {
  list-style: none;
}

/* Button */
.btn-main:link,
.btn-main:visited,
.btn-main,
.btn-secondary:link,
.btn-secondary:visited,
.btn-secondary,
.btn-add:link,
.btn-add:visited,
.btn-add,
.btn-outline:link,
.btn-outline:visited,
.btn-outline {
  all: unset;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 20rem;
  transition: all 0.2s ease-in;
}

.btn-main {
  background: linear-gradient(
    180deg,
    rgba(105, 188, 71, 1) 0%,
    rgba(83, 146, 57, 1) 100%
  );
}

.btn-main:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn-main:active,
.btn-main:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Secondary */
.btn-secondary {
  background: linear-gradient(
    180deg,
    rgba(86, 88, 87, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.btn-secondary:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn-secondary:active,
.btn-secondary:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-secondary {
  background-color: var(--color-grey-dark-1);
}

.btn-secondary:hover {
  background-color: #303633;
}

.btn-secondary:disabled {
  cursor: not-allowed;
}

/* Add */
.btn-add {
  background: linear-gradient(
    180deg,
    rgba(86, 88, 87, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.btn-add:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn-add:active,
.btn-add {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-add {
  background-color: var(--color-grey-dark-1);
}

.btn-add:hover {
  background-color: #303633;
}

/* Outline */
.btn-outline {
  background-color: var(-color-white);
  border: solid var(--color-grey-dark-1) 0.5px;
  color: var(--color-grey-dark-1);
}

.btn-outline:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn-outline:active,
.btn-outline:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Section */
.btn-section:link,
.btn-section:visited,
.btn-section {
  all: unset;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1.75rem;
  padding: 1rem 2.5rem;
  border-radius: 20rem;
  transition: all 0.2s ease-in;
}

.btn-section {
  background: linear-gradient(
    180deg,
    rgba(86, 88, 87, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.btn-section:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn-section:active,
.btn-section:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-section {
  background-color: var(--color-grey-dark-1);
}

.btn-section:hover {
  background-color: #303633;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.min-height {
  height: 0;
}

.max-height {
  height: 100vh;
}

.invalid {
  border: 2px solid #962020 !important;
  background-color: #ffefec;
}
