.menu-card {
  grid-column: 5 / span 6;
  grid-row: 2 / span 2;
  margin-top: 5rem;
  background-color: var(--color-white);
  padding: 8rem 11rem;
  margin: 0 7rem;
  border-radius: 3rem 3rem 0 0;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
}

.menu-card li {
  display: flex;
  justify-content: space-between;
}

.menu-card li:not(:last-child) {
  margin-bottom: 6rem;
}

.menu-card hr {
  width: 7rem;
  margin: 1rem 0;
}

.menu-title {
  font-size: 2.5rem;
}
.menu-price {
  color: var(--color-grey-dark-3);
}

.menu-description {
  font-size: 1.8rem;
}
